body,
.App {
  font-family: sans-serif, "Helvetica Neue";
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
  position:absolute;
  bottom: 0;
  
}
button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: black;
}
button:hover {
  color: white;
  background-color: rgb(88, 62, 113);
}

.App {
  display: flex;
}

/*Sidebar*/

.sidebar {
  width: 30%;
  height: 85vh;
  border-right: 1px solid #ddd;
  position: absolute;
  bottom: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border-bottom: 1px solid rgb(164, 164, 164); 
}
.sidebar-header h1 {
  margin: 0;
}

.sidebar-saved-notes {
  height: calc(85vh - 78px);
  overflow-y: scroll;
}
.sidebar-note {
  padding: 25px;
  cursor: pointer;
}
.sidebar-note-title {
  display: flex;
  justify-content: space-between;
}
.sidebar-note button {
  color: crimson;
}
.sidebar-note p {
  margin: 10px 0;
}
.sidebar-note small {
  display: block;
  color: #969696;
}

.sidebar-note:hover {
  background: #d4d4d4;
}
.sidebar-note.active {
  color: white;
  background: rgb(88, 62, 113);
}
.sidebar-note.active small {
  color: #969696;
}

/*Main*/

.main {
  width: 70%;
  height: 84.5vh;
  position: absolute;
  bottom: 0;
  right: 0;
}
.main-edit,
.main-preview {
  height: 50vh;
}

.no-active-note {
  width: 70%;
  height: 84.5vh;
  position: absolute;
  line-height: 85vh;
  text-align: center;
  font-size: 2rem;
  color: #999;
  bottom: 0;
  right: 0;
}

/* Editing */
.main-edit {
  padding: 25px;
}

.main-edit input,
textarea {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}
.main-edit input {
  height: 50px;
  font-size: 2rem;
}

/* Preview */
.main-preview {
  border-top: 1px solid #ddd;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.02);
}

.main-preview-title {
  padding: 25px 25px 0 25px;
  margin: 0;
}

.main-preview-markdown {
  padding: 0 25px 25px 25px;
  font-size: 1rem;
  line-height: 2rem;
}




p {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}





.top {
  width: 100%;
  height: 15vh;
  list-style: none;
  border-top: 3.5px solid blueviolet;
  border-bottom: 1px solid rgb(164, 164, 164); 
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
}

.lotion-title {
  font-size: 42.5px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  bottom: 25px;
  margin: 12.5px;
}

.title-bar {
  position: absolute;
  font-size: 42.5px;
  left: 25px;
  top: -7.6px;
}

.title-description {
  font-size: 15px;
  text-align: center;
  bottom: 50px;
  color: rgb(95, 95, 95);
}




.writeHeader {
  padding: 25px;
  border-bottom: 1px solid rgb(164, 164, 164); 
}

.imdead {
  display: flex;
  justify-content: right;
}



.writeHeader-deleteButton{
  position: absolute;
  top: 15px;
}

.writeHeader-editSaveButton{
  position: absolute;
  top: 10px;
}